/* bottom bar spacing */
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}

html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.wide{letter-spacing:4px}

.button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.bar .bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.bar .dropdown-click{position:static;float:left}
.bar .button{white-space:normal}
.bar-block .bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0} 
.bar-block.center .bar-item{text-align:center}.block{display:block;width:100%}
.bar:before,.bar:after{content:"";display:table;clear:both}
.center{text-align:center}
.bottom{position:fixed;width:100%;z-index:1}.bottom{bottom:0}
.display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}

.hover-opacity-off:hover{opacity:1}
.opacity-min{opacity:0.75}
.grayscale{filter:grayscale(75%)}
.grayscale-min{filter:grayscale(50%)}
.jumbo{font-size:64px!important}
.padding{padding:8px 16px!important}
.padding-64{padding-top:40px!important;padding-bottom:40px!important}
.padding-200{padding-top:90px!important;padding-bottom:90px!important}
.button:hover{color:#000!important;background-color:#ccc!important}


/* Colors */
.section2,.hover-section2:hover{color: black;background-color:#CFD2E7}
.white,.hover-white:hover{color:#000!important;background-color:#fff!important}
.text-white,.hover-text-white:hover{color:#fff!important}
.text-grey,.hover-text-grey:hover{color:#757575!important}

/* Projects */
.project{position:relative;max-width:1000px;margin:0 auto 30px auto;overflow:hidden;background:white;border-radius:4px}
.project-image{float:left}
.project-info{position:absolute;top:50%;transform:translateY(-50%);margin-left:400px;padding:15px}
.project-info h3{font-size:1.5em;font-weight:300;color:#374054;margin:0 0 15px 0}
.project-info p{color:#74808a;margin:0 0 15px 0;font-size:0.9em}